<table border=1>
    <tr>
        {% for header in field_headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for field in fields %}
            <td>{{ field.id }}</td>
            <td>{{ field.reports }}</td>
            <td>{{ field.category }}</td>
            <td>{{ field.stock_name }}</td>
            <td>{{ field.stock_code }}</td>
            <td>{{ field.issuer_code }}</td>
            <td>{{ field.stock_exchange }}</td>
            <td>{{ field.rating }}</td>
            <td>{{ field.rater }}</td>
            <td>{{ field.purcahse_date }}</td>
            <td>{{ field.average_life_span }}</td>
            <td>{{ field.currency }}</td>
            <td>{{ field.interest_rate }}</td>
            <td>{{ field.proceeds }}</td>
            <td>{{ field.value }}</td>
            <td>{{ field.exchange_rate }}</td>
            <td>{{ field.interest_dividend }}</td>
            <td>{{ field.market_value }}</td>
            <td>{{ field.percent_of_value }}</td>
            <td>{{ field.percent_of_asset_channel }}</td>
            <td>{{ field.percent_of_total_assets }}</td>
            <td>{{ field.info_provider }}</td>
            <td>{{ field.sector }}</td>
            <td>{{ field.base_asset }}</td>
            <td>{{ field.fair_value }}</td>
            <td>{{ field.consortium }}</td>
            <td>{{ field.last_valuation_date }}</td>
            <td>{{ field.roi_in_period }}</td>
            <td>{{ field.estimated_value }}</td>
            <td>{{ field.address }}</td>
            <td>{{ field.average_interest_rate }}</td>
            <td>{{ field.asset_type }}</td>
            <td>{{ field.commitment }}</td>
            <td>{{ field.effective_interest }}</td>
            <td>{{ field.coordinated_cost }}</td>
            <td>{{ field.commitment_end_date }}</td>
        {% endfor %}
{#        <th>1</th>#}
{#        <th></th>#}
{#        <th>nadlan</th>#}
{#        <th>check1</th>#}
{#        <th>32323</th>#}
{#        <th>3456</th>#}
{#        <th>israel</th>#}
{#        <th>A</th>#}
{#        <th>modies</th>#}
{#        <th>2025-12-29</th>#}
{#        <th>121212.0</th>#}
{#        <th>NIs</th>#}
{#        <th>1.0</th>#}
{#        <th>2.0</th>#}
{#        <th>33.0</th>#}
{#        <th>2.0</th>#}
{#        <th>11.0</th>#}
{#        <th>122.0</th>#}
{#        <th>223.0</th>#}
{#        <th>233.0</th>#}
{#        <th>322.0</th>#}
{#        <th>djfh</th>#}
{#        <th>lsidfj</th>#}
{#        <th>ligh</th>#}
{#        <th>33.0</th>#}
{#        <th>dsfd</th>#}
{#        <th>2025-12-29</th>#}
{#        <th>11.0</th>#}
{#        <th>111.0</th>#}
{#        <th>איילת השחר</th>#}
{#        <th>1.0</th>#}
{#        <th>nadlan</th>#}
{#        <th>221.0</th>#}
{#        <th>1.2</th>#}
{#        <th>1.0</th>#}
{#        <th>2025-12-29</th>#}
    </tr>
</table>
<br>
<button onclick='window.location.replace("/")'>Home</button>