<table border=1>
    <tr>
        {% for header in field_headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    <tr>
        {% for field in field_fields %}
            <td>{{ field }}</td>
        {% endfor %}
{#        <th>1</th>#}
{#        <th></th>#}
{#        <th>nadlan</th>#}
{#        <th>check1</th>#}
{#        <th>32323</th>#}
{#        <th>3456</th>#}
{#        <th>israel</th>#}
{#        <th>A</th>#}
{#        <th>modies</th>#}
{#        <th>2025-12-29</th>#}
{#        <th>121212.0</th>#}
{#        <th>NIs</th>#}
{#        <th>1.0</th>#}
{#        <th>2.0</th>#}
{#        <th>33.0</th>#}
{#        <th>2.0</th>#}
{#        <th>11.0</th>#}
{#        <th>122.0</th>#}
{#        <th>223.0</th>#}
{#        <th>233.0</th>#}
{#        <th>322.0</th>#}
{#        <th>djfh</th>#}
{#        <th>lsidfj</th>#}
{#        <th>ligh</th>#}
{#        <th>33.0</th>#}
{#        <th>dsfd</th>#}
{#        <th>2025-12-29</th>#}
{#        <th>11.0</th>#}
{#        <th>111.0</th>#}
{#        <th>איילת השחר</th>#}
{#        <th>1.0</th>#}
{#        <th>nadlan</th>#}
{#        <th>221.0</th>#}
{#        <th>1.2</th>#}
{#        <th>1.0</th>#}
{#        <th>2025-12-29</th>#}
    </tr>
</table>
<br>
<button onclick='window.location.replace("/")'>Home</button>